@import "tailwindcss";

:root {
    --primary: #ffcc00;
    --secondary: #0f1729;
    --foreground: #d1d5db;
    --background: #f9f9f9;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: black;
  font-family: var(--font-family);
  line-height: 1.6;
}